* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.main-index, .contenedor-logo-index, .main-contactanos .section-uno-contactanos, .contenedor-logo-contactanos, .main-historia, .contenedor-logo-historia, .main-museo, .contenedor-logo-museo, .main-fauna, .contenedor-logo-fauna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.body-index {
  background-color: #7cd7cf; }

.header-index {
  background-color: #ffeacc;
  margin: 3px;
  padding: 3px;
  font-size: 20px; }
  .header-index .color-nav {
    background-color: #ffeacc; }
  .header-index .h-uno-index {
    font-family: 'Permanent Marker', cursive; }
  .header-index nav div div ul li:hover {
    background-color: #51B0DF;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black; }

.main-index {
  font-family: 'Questrial', sans-serif; }
  .main-index .contenedor-uno-index {
    text-align: center;
    margin: 4px;
    padding: 4px; }
  .main-index .contenedor-reservas-index {
    text-align: center; }
    .main-index .contenedor-reservas-index ul {
      text-align: center;
      list-style: none; }
  .main-index .contenedor-dos-index {
    text-align: center; }
    .main-index .contenedor-dos-index .img-index {
      padding: 3px;
      margin: 3px;
      width: 80%; }
  .main-index .contenedor-tres-index {
    text-align: center; }
    .main-index .contenedor-tres-index .img-dos-index {
      padding: 3px;
      margin: 3px;
      width: 80%; }

.contenedor-logo-index .fixed-index {
  position: fixed;
  right: 0;
  bottom: 0%; }

.footer-index {
  text-align: center;
  background-color: #ffeacc; }

.body-contactanos {
  background-color: #7cd7cf; }

.header-contactanos {
  background-color: #ffeacc;
  margin: 3px;
  padding: 3px;
  font-size: 20px; }
  .header-contactanos .color-nav {
    background-color: #ffeacc; }
  .header-contactanos .h-uno-contactanos {
    font-family: 'Permanent Marker', cursive; }
  .header-contactanos nav div div ul li:hover {
    background-color: #51B0DF;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black; }

.main-contactanos .section-uno-contactanos {
  text-align: center;
  padding: 3px;
  margin: 3px; }
  .main-contactanos .section-uno-contactanos form fieldset div .boton:hover {
    background-color: #51B0DF;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black; }

.main-contactanos .contenedor-uno-contactanos {
  text-align: center; }
  .main-contactanos .contenedor-uno-contactanos .img-contactanos {
    padding: 3px;
    margin: 3px;
    width: 80%; }

.contenedor-logo-contactanos .fixed-contactanos {
  position: fixed;
  right: 0;
  bottom: 0%; }

.footer-contactanos {
  text-align: center;
  background-color: #ffeacc; }

.body-historia {
  background-color: #7cd7cf; }

.header-historia {
  background-color: #ffeacc;
  margin: 3px;
  padding: 3px;
  font-size: 20px; }
  .header-historia .color-nav {
    background-color: #ffeacc; }
  .header-historia .h-uno-historia {
    font-family: 'Permanent Marker', cursive; }
  .header-historia nav div div ul li:hover {
    background-color: #51B0DF;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black; }

.main-historia .contenedor-uno-historia {
  padding: 3px;
  margin: 3px;
  text-align: center; }

.main-historia .contenedor-dos-historia {
  padding: 3px;
  margin: 3px;
  text-align: center; }

.main-historia .contenedor-tres-historia {
  padding: 3px;
  margin: 3px;
  text-align: center; }

.main-historia .contenedor-img-uno {
  text-align: center; }
  .main-historia .contenedor-img-uno .hombre-v {
    text-align: center;
    width: 80%;
    padding: 2px;
    margin: 2px; }

.main-historia .contenedor-img-dos {
  text-align: center; }
  .main-historia .contenedor-img-dos .ameghino {
    text-align: center;
    width: 80%;
    padding: 2px;
    margin: 2px; }

.contenedor-logo-historia .fixed-historia {
  position: fixed;
  right: 0;
  bottom: 0%; }

.footer-historia {
  text-align: center;
  background-color: #ffeacc; }

.body-museo {
  background-color: #7cd7cf; }

.header-museo {
  background-color: #ffeacc;
  margin: 3px;
  padding: 3px;
  font-size: 20px; }
  .header-museo .color-nav {
    background-color: #ffeacc; }
  .header-museo .h-uno-museo {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px; }
  .header-museo nav div div ul li:hover {
    background-color: #51B0DF;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black; }

.main-museo .contenedor-uno-museo {
  text-align: center; }
  .main-museo .contenedor-uno-museo nav ul {
    list-style: none;
    text-align: center; }

.main-museo .contenedor-dos-museo {
  text-align: center; }
  .main-museo .contenedor-dos-museo iframe {
    width: 20rem;
    height: 20rem; }

.contenedor-logo-museo .fixed-museo {
  position: fixed;
  right: 0;
  bottom: 0%; }

.footer-museo {
  text-align: center;
  background-color: #ffeacc; }

.body-fauna {
  background-color: #7cd7cf; }

.header-fauna {
  background-color: #ffeacc;
  font-size: 20px; }
  .header-fauna .color-nav {
    background-color: #ffeacc; }
  .header-fauna .h-uno-fauna {
    font-family: 'Permanent Marker', cursive; }
  .header-fauna nav div div ul li:hover {
    background-color: #51B0DF;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black; }

.main-fauna {
  padding: 1px;
  margin: 1px; }
  .main-fauna .contenedor-uno-fauna {
    padding: 3px;
    margin: 3px;
    text-align: center; }
  .main-fauna .contenedor-dos-fauna {
    padding: 3px;
    margin: 3px;
    text-align: center; }
  .main-fauna .color-h {
    color: black; }
  .main-fauna .contenedor-tres-fauna {
    padding: 3px;
    margin: 3px;
    text-align: center; }

.contenedor-logo-fauna .fixed-fauna {
  position: fixed;
  right: 0;
  bottom: 0%; }

.footer-fauna {
  text-align: center;
  background-color: #ffeacc; }

@media screen and (min-width: 769px) {
  .navbar-collapse {
    Flex-grow: 0;
    font-weight: bold; }
  /*index*/
  .main-index {
    padding: 1px;
    margin: 3px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 1fr 0.5 fr 0.5fr;
    grid-template-areas: "contenedor-uno-index contenedor-dos-index" "contenedor-reservas-index contenedor-tres-index";
    justify-content: center;
    justify-items: center; }
    .main-index .contenedor-uno-index {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-uno-index; }
    .main-index .contenedor-dos-index {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-dos-index;
      width: 80%;
      filter: drop-shadow(1px 1px 3pc black); }
    .main-index .contenedor-reservas-index {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-reservas-index; }
    .main-index .contenedor-tres-index {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-tres-index;
      width: -1%;
      filter: drop-shadow(1px 1px 3pc black); }
      .main-index .contenedor-tres-index .img-dos-index {
        width: 60%; }
  /*historia*/
  .main-historia {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "contenedor-uno-historia contenedor-uno-historia" "contenedor-dos-historia contenedor-img-uno" "contenedor-tres-historia contenedor-img-dos";
    justify-content: center;
    justify-items: center; }
    .main-historia .contenedor-uno-historia {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-uno-historia;
      width: 70%;
      height: 100px; }
    .main-historia .contenedor-dos-historia {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-dos-historia; }
    .main-historia .contenedor-img-uno {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-img-uno;
      width: 80%;
      filter: drop-shadow(1px 1px 3px black); }
    .main-historia .contenedor-tres-historia {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-tres-historia; }
    .main-historia .contenedor-img-dos {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-img-dos;
      width: 80%;
      filter: drop-shadow(1px 1px 3px black); }
  /*museo*/
  .main-museo {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "contenedor-uno-museo contenedor-dos-museo";
    justify-content: center;
    justify-items: center; }
    .main-museo .contenedor-uno-museo {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-uno-museo;
      text-align: center; }
    .main-museo .contenedor-dos-museo {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-dos-museo; }
  /*fauna*/
  .main-fauna .contenedor-uno-fauna {
    margin: 30px;
    padding: 9px;
    text-align: center; }
  .main-fauna .contenedor-dos-fauna {
    margin: 30px;
    padding: 9px;
    text-align: center; }
  .main-fauna .contenedor-tres-fauna {
    margin: 30px;
    padding: 9px;
    text-align: center; } }

@media (max-width: 768px) and (min-width: 576px) {
  .navbar-collapse {
    Flex-grow: 0;
    font-weight: bold; }
  /*index*/
  .main-index {
    padding: 1px;
    margin: 3px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 1fr 0.5 fr 0.5fr;
    grid-template-areas: "contenedor-uno-index contenedor-dos-index" "contenedor-reservas-index contenedor-tres-index";
    justify-content: center;
    justify-items: center; }
    .main-index .contenedor-uno-index {
      grid-area: contenedor-uno-index;
      padding: 1px;
      margin: 3px; }
    .main-index .contenedor-dos-index {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-dos-index;
      width: 100%;
      filter: drop-shadow(1px 1px 3pc black); }
    .main-index .contenedor-reservas-index {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-reservas-index; }
    .main-index .contenedor-tres-index {
      padding: 1px;
      margin: 3px;
      grid-area: contenedor-tres-index;
      filter: drop-shadow(1px 1px 3pc black); }
      .main-index .contenedor-tres-index .img-dos-index {
        width: 90%; }
  /*historia*/
  .main-historia {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "contenedor-uno-historia contenedor-uno-historia" "contenedor-dos-historia contenedor-img-uno" "contenedor-tres-historia contenedor-img-dos";
    justify-content: center;
    justify-items: center; }
    .main-historia .contenedor-uno-historia {
      padding: 2px;
      margin: 3px;
      grid-area: contenedor-uno-historia;
      width: 70%;
      height: 100px; }
    .main-historia .contenedor-dos-historia {
      grid-area: contenedor-dos-historia; }
    .main-historia .contenedor-img-uno {
      padding: 2px;
      margin: 3px;
      grid-area: contenedor-img-uno;
      width: 100%;
      filter: drop-shadow(1px 1px 3px black); }
    .main-historia .contenedor-tres-historia {
      padding: 2px;
      margin: 3px;
      grid-area: contenedor-tres-historia; }
    .main-historia .contenedor-img-dos {
      padding: 2px;
      margin: 3px;
      grid-area: contenedor-img-dos;
      width: 100%;
      filter: drop-shadow(1px 1px 3px black); }
  /*museo*/
  .main-museo {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "contenedor-uno-museo contenedor-dos-museo";
    justify-content: center;
    justify-items: center; }
    .main-museo .contenedor-uno-museo {
      grid-area: contenedor-uno-museo;
      text-align: center; }
    .main-museo .contenedor-dos-museo {
      grid-area: contenedor-dos-museo; }
  /*fauna*/
  .main-fauna .contenedor-uno-fauna {
    margin: 30px;
    padding: 9px;
    text-align: center; }
  .main-fauna .contenedor-dos-fauna {
    margin: 30px;
    padding: 9px;
    text-align: center; }
  .main-fauna .contenedor-tres-fauna {
    margin: 30px;
    padding: 9px;
    text-align: center; } }
